@'
# === Secrets & local env ===
.env

# === Dotnet artifacts ===
**/bin/
**/obj/
**/TestResults/
**/coveragereport/

# === IDE ===
**/.vs/
**/.vscode/
**/.idea/

# === Git metadata ===
**/.git/
**/.gitattributes

# === Node ===
**/node_modules/

# === Misc ===
*.user
*.suo
*.nupkg
*.DS_Store
'@ | Set-Content -Encoding UTF8 .gitignore